@* Vista DogImage.cshtml en Views/Dog *@
@{
    ViewData["Title"] = "Imagen Aleatoria de Perro";
}

<h1>@ViewData["Title"]</h1>


<form method="get" action="/">
    <button type="submit">Obtener Perro Aleatorio</button>
</form>


@if (!string.IsNullOrEmpty(ViewData["ImageUrl"]?.ToString()))
{
    <br />
    <img src="@ViewData["ImageUrl"]" alt="Perro Aleatorio" style="max-width: 100%; height: auto;" />
}
